@using LibraryProject.Controllers;

@model LibraryProject.Models.Book

@{
    ViewBag.Title = Model.Title;
}

<h2>Išsami informacija apie knygą</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Title) (@Html.DisplayFor(model => model.YearWritten))</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condition.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Library.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Library.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearWritten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearWritten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>

@if (Auth.GetRole() == (int)Auth.Roles.LibraryWorker)
{
    <hr />
    <div>
        <h4>Paskutinių 5 naudotojų sąrašas</h4>
        @if (Model.Reservations.Count > 0)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Vardas</th>
                        <th>Pavardė</th>
                        <th>Rezervacija nuo</th>
                        <th>Rezervacija iki</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reservation in Model.Reservations.AsEnumerable().Reverse().Take(5))
                    {
                        <tr>
                            <td>@reservation.User.FirstName</td>
                            <td>@reservation.User.LastName</td>
                            <td>@reservation.StartDate</td>
                            <td>@reservation.EndDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p><i>Knyga nebuvo rezervuota.</i></p>
        }
    </div>
}

<p style="margin-top: 24px">
    @Html.ActionLink("Atgal į sąrašą", "Index")
</p>
