@model LibraryProject.Models.Offer

@{
    ViewBag.Title = "Pasiūlymas";
}

<h2>Pasiūlymas</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Leidykla
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher.Name)
        </dd>

        <dt>
            Knygos pavadinimas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Title)
        </dd>

        <dt>
            Knygos aprašymas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Redaguoti", "Edit", new { id = Model.OfferId }) |
    @Html.ActionLink("Grįžti į sąrašą", "Index")
</p>
