@using LibraryProject.Controllers

@model IEnumerable<LibraryProject.Models.Offer>

@{
    ViewBag.Title = "Pasiūlymų sąrašas";
}

<h2>Pasiūlymų sąrašas</h2>

@if (Auth.GetRole() == (int)Auth.Roles.Publisher)
{
    <p>
        @Html.ActionLink("Sukurti naują pasiulymą", "Create")
    </p>
}
<table class="table">
    <tr>
        @if (Auth.GetRole() != (int)Auth.Roles.Publisher)
        {
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Book)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (Auth.GetRole() != (int)Auth.Roles.Publisher)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher.Name)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @if (Auth.GetRole() != (int)Auth.Roles.Publisher)
                {
                    @Html.ActionLink("Patvirtinti | ", "Accept", new { id = item.OfferId }, new { onclick = "return confirm('Ar tikrai norite patvirtinti šį pasiūlymą?')" })
                }
                @if (Auth.GetRole() == (int)Auth.Roles.Publisher)
                {
                    @Html.ActionLink("Redaguoti | ", "Edit", new { id = item.OfferId })
                    @Html.ActionLink("Ištrinti | ", "Delete", new { id = item.OfferId }, new { onclick = "return confirm('Ar tikrai norite ištrinti šį pasiūlymą?')" })
                }
                @Html.ActionLink("Detaliau", "Details", new { id = item.OfferId })
            </td>
        </tr>
    }

</table>
